#tags{
    overflow:auto;
}

.tag{
    border: 1px solid;
    margin: 2px;
    padding: 2px;
    float:left;
}

.clickable{
    cursor:pointer;    
}

.clickable:hover{
    color: red;
}
.small{
    font-size:x-small;
}